<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppName</key>
	<string>mpaas</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1862952583919182</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dingtalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dingoamfoom0wrwiyexx2z</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipayShare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ap2015090200249164</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent101860283</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx50d801314d9eb858</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>douyin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>awi5jhcvqq54k79l</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>KakaoTalk</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaod1b1314c5200ed7d413dbccfd71ae128</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Twitter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-NYUYyRnGNs7tgflC5LgiWJ80R</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.zhiliaoapp.musically</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snssdk1233</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>rocketshare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rs9760739781918870</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>duoshan</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ad46755484ff11e9a14e0cc47ac99464</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>toutiao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fc169c8d3a2eec4a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>own</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>snssdk1926</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CHANNEL_NAME</key>
	<string>local_test</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>feishu-open</string>
		<string>feishu</string>
		<string>ttwttshare</string>
		<string>ttwttpost</string>
		<string>snssdk147</string>
		<string>snssdk201</string>
		<string>snssdk141</string>
		<string>mayaopenapi</string>
		<string>maya1349</string>
		<string>rocketopensdk</string>
		<string>imrocketshare</string>
		<string>feiliao1394</string>
		<string>snapchat</string>
		<string>twitterauth</string>
		<string>twitter</string>
		<string>tiktoksharesdk</string>
		<string>tiktokopensdk</string>
		<string>lineauth2</string>
		<string>line</string>
		<string>kakaod1b1314c5200ed7d413dbccfd71ae128</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>storylink</string>
		<string>instagram-stories</string>
		<string>instagram</string>
		<string>fb-messenger-share-api</string>
		<string>whatsapp</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>imrocketshare</string>
		<string>rocket141</string>
		<string>qqmap</string>
		<string>baidumap</string>
		<string>iosamap</string>
		<string>bfsports</string>
		<string>qielive</string>
		<string>mqqsecure</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqwpa</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>hybrid</string>
		<string>tbopen</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>alipayshare</string>
		<string>alipaytlshare</string>
		<string>safepay</string>
		<string>mqqopensdkapiV2</string>
		<string>sinaweibosso.com.ss.iphone.article.news</string>
		<string>sinaweibosso.ss.essay.joke</string>
		<string>sinaweibosso</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>weibo</string>
		<string>QunarAlipay</string>
		<string>ctrip</string>
		<string>comtencentmt2</string>
		<string>taobao</string>
		<string>tmall</string>
		<string>openapp.jdmobile</string>
		<string>tctravel</string>
		<string>jdlogin</string>
		<string>youku</string>
		<string>letvsportslaunch</string>
		<string>dingtalk</string>
		<string>dingtalk-open</string>
		<string>imgotv</string>
		<string>kankanapp2</string>
		<string>snssdk1112</string>
		<string>changba</string>
		<string>cntvCBox</string>
		<string>suning</string>
		<string>vipshop</string>
		<string>lichinews</string>
		<string>ChinaBlueTV</string>
		<string>snssdk1165</string>
		<string>snssdk1128</string>
		<string>youku</string>
		<string>com.foundaoCNNews</string>
		<string>snssdk51</string>
		<string>snssdk32</string>
		<string>hotsoonsso</string>
		<string>awemesso</string>
		<string>snssdk147</string>
		<string>snssdk36</string>
		<string>snssdk1182</string>
		<string>gglproto1291</string>
		<string>gglproto</string>
		<string>itms-beta</string>
		<string>snssdk1331</string>
		<string>snssdk35</string>
		<string>bds</string>
		<string>feiliao1394</string>
		<string>maya1349</string>
		<string>rocketopensdk</string>
		<string>douyinsharesdk</string>
		<string>douyinopensdk</string>
		<string>snssdk1128</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>扫描二维码需要使用相机权限</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要使用定位权限</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>方便为您保存图片，用于选取照片设置头像，上传发布照片视频，以及保存作品至本地</string>
	<key>Region</key>
	<string>CN</string>
	<key>SSAppID</key>
	<string>2948</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
